$color-first: #FFFFFF;
$color-second: #9D8665;
$color-background: #030303;
$color-detail: #710707;



$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
