$color-first: #FFFFFF;
$color-second: #9D8665;
$color-background: #030303;
$color-detail: #710707;
$color-video: #C4C4C4;
$color-gray: #666666;



$content-width: 1920px;
$tablet-big-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;
