@mixin font ($style: normal, $weight: normal, $size, $height: $size) {
  font-style: $style;
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
}

@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-big-tablet {
  @media (max-width: $tablet-big-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) { @content; }
}
