.navigation {
  display: flex;
  @include font ($style: normal, $weight: 200, $size: 2.2rem, $height: 2.6rem);
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation__link {
  list-style: none;
  margin-right: 55px;
  padding: 0;
  cursor: pointer;
  color: $color-first;
  @extend %transition;
  text-decoration: none;
  &:hover {
    color: $color-second;
  }
}

.last_link {
  margin: 0;
}
