.navigation {
  display: flex;
  @include font ($style: normal, $weight: 100, $size: 2.2rem, $height: 5.0rem);
  letter-spacing: 2px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation__link {
  list-style: none;
  margin-right: 76px;
  padding: 0;
  cursor: pointer;
  color: $color-first;
}
