.tickets {
  background-color: $color-first;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 75px 0;
}

.tickets__content {
  margin-top: 75px;
}

.buy {
  display: flex;
	@include font ($style: normal, $weight: 300, $size: 2.2rem, $height: 2.6rem);
}

.bay__title {
  display: inline-block;
  @include font ($style: normal, $weight: bold, $size: 2.8rem, $height: 3.3rem);
  margin-bottom: 25px;
}

.ticket__type {
  margin-left: 20px;
}

.amount {
  text-align: right;

}

.radio-buttons {
  margin-top: 50px;
}

.radio-button__container {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  padding-left: 40px;

  align-items: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: $color-first;
  border-radius: 50%;
  border: 2px solid #000000;
  box-sizing: border-box;
}

/* Hide the browser's default radio button */
.radio-button__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
.radio-button__container:hover input ~ .checkmark {
  background-color: $color-second;
}

/* When the radio button is checked, add a blue background */
.radio-button__container input:checked ~ .checkmark {
  background-color: $color-first;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button__container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button__container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: $color-background;
}

.buy__button {
  @include font ($style: normal, $weight: 300, $size: 2.2rem, $height: 2.6rem);
  text-align: center;
  letter-spacing: 2px;
  color: $color-first;
  margin-top: 76px;
  width: 175px;
  height: 50px;
  background-color: $color-background;
  @extend %transition;
  &:hover {
    background-color: $color-second;
    color: $color-background;
  }
  border-radius: 2px;
  border: none;
}

.amount__text {
  @include font ($style: normal, $weight: 300, $size: 2.2rem, $height: 2.6rem);
  margin-bottom: 15px;
  text-align: left;
}

.amount__selections {
  display: flex;

  width: 150px;
  height: 50px;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  margin-left: auto;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  input {

  }
}

.total__price {
  @include font ($style: normal, $weight: bold, $size: 2.8rem, $height: 3.3rem);
  letter-spacing: 1.65px;
}

.amount__button {
  border: none;
  @include font ($style: normal, $weight: normal, $size: 3.2rem, $height: 3.7rem);
  text-align: center;
  background: $color-first;

  width: 40px;
  height: 44px;
  display: block;
  color: rgb(0, 0, 0);
  background: rgb(253, 253, 253);
  // padding: 0 0 0 11px;
  text-align: center;
  border: none;
}

.number {
  display: block;
  border: none;
  @include font ($style: normal, $weight: 300, $size: 2.2rem, $height: 2.6rem);
  text-align: center;

  display: block;
  background: none;
  border: none;
  width: 30px;
  padding: 0 auto;
  margin: 0 auto;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
  appearance: none;
  }
}

.total {
  margin-top: 50px;
}

.selections__container {
  max-width: 150px;
  margin-left: auto;

}

.parallax {
  width: 100%;
  height: 400px;
  background: url(../assets/img/tickets/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}
