.video__section {
  padding: 90px 0 75px;
}

.video__description {
  margin-bottom: 75px;
}

.video__text {
  @include font ($style: normal, $weight: 300, $size: 2.2rem, $height: 3.8rem);
  display: flex;
  align-items: center;
  color: $color-background;
}

.video-button {
  background-color: transparent;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
}

.viewer {
  display: block;
  //height: 100%;
  width: 100%;
}

.player__control {
  position: relative;
  display: flex;
  align-items: center;
  background-color: black;
  height: 85px;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle {
  content: "";
  background-color: transparent;
  display: inline-block;
  background-image: url(../assets/svg/player-control/play.svg);
  background-repeat: no-repeat;
  margin-left: 30px;
  margin-right: 50px;
}

.mute {
  margin-right: 50px;
}


.player-svg {
  cursor: pointer;
}

.wrapper__progress {
  width: 930px;
  position: relative;
  z-index: 1;
  margin-right: 50px;
}

.progress__slider {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 8px;
  overflow: hidden;
  cursor: pointer;
  background-color: $color-video;
  z-index: 2;
}

.progress__slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: $color-first;
  z-index: 6;
}

.progress {
  position: absolute;
  content:'';
  width: 0%;
  height: 8px;
  background-color: $color-detail;
  top: calc(50% - 2.5px);
  z-index: 3;
}

//volume
.wrapper__volume {
  width: 155px;
  margin-right: 50px;
  position: relative;
  z-index: 1;
}

.volume__slider {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 8px;
  overflow: hidden;
  cursor: pointer;
  background-color: $color-video;
  z-index: 2;
}

.volume__slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: $color-first;
  z-index: 6;
}

.volume {
  position: absolute;
  content:'';
  width: 0%;
  height: 8px;
  background-color: $color-detail;
  top: calc(50% - 2.5px);
  z-index: 3;
}
