.video {
  padding: 90px 0 75px;
}

.video__description {
  margin-top: 40px;
}

.video__text {
  @include font ($style: normal, $weight: 300, $size: 2.2rem, $height: 3.8rem);
  display: flex;
  align-items: center;
  color: $color-background;
}

.video__player {
  margin: 0;
}

.player__control {
    display: flex;
    align-items: center;
    background-color: black;
    height: 85px;
}

.player__button {
  background-color: black;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.toggle-button {
  margin-left: 30px;
  margin-right: 50px;
}

.mute-button {
  margin-right: 50px;
}

.panel {
  content: "";
  display: inline-block;
  background-color: $color-video;
  margin-right: 50px;
  border-radius: 5px;
  height: 8px;
}

.progress {
  width: 930px;
}

.volume {
  width: 155px;
}
