.welcom {
  background-color: $color-background;
  background-image: url(../assets/img/welcom/welcom-background1.png);
  background-size: 1000px 750px;
  background-repeat: no-repeat;
  background-position: calc(50% + 220px) calc(100% - 60px);
}

.welcom__wrapper {
  // padding-bottom: 246px;
}

.welcom__content {
  padding-bottom: 246px;
}

.welcom__title {
	margin: 0;
	@extend %font-add;
	@include font ($style: normal, $weight: normal, $size: 8.0rem, $height: 9.0rem);
	letter-spacing: 5px;
	text-transform: uppercase;
	color: $color-first;
	padding-top: 195px;
}

.welcom__text {
  @include font ($style: normal, $weight: 300, $size: 2.8rem, $height: 3.3rem);
  color: $color-first;
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 26px;
}

.button__discover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  width: 360px;
  height: 75px;
  @include font ($style: normal, $weight: 200, $size: 2.2rem, $height: 2.6rem);
  letter-spacing: 2px;
  color: $color-first;
  background-color: $color-detail;
  @extend %transition;
  &:hover {
    background-color: $color-second;
  }
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
