.footer {
  padding: 75px 0 0 0;
  background-color: $color-background;
}

.footer__wrapper {
  display: flex;
  margin-bottom: 50px;
}

.footer__links {
  text-align: inherit;
  width: 500px;
  height: 128px;
  align-items: flex-start;
}

.navigation__column {
  display: inline-block;
}

.first {

}

.second {

}

.footer__navigation_title {
  margin: 0 0 15px;
}

.footer__navigation_links {
  padding: 0 0;
  list-style: none;
  li {
    margin-bottom: 25px;
  }
  a {
    @extend %font-pri;
    @include font($style: normal, $weight: 200, $size: 2.2rem, $height: 2.6rem);
    letter-spacing: 2px;
    color: $color-first;
    @extend %transition;
    text-decoration: none;
    &:hover {
      color: $color-second;
    }
  }
}

.footer__logo {
  margin: 0 145px 0 0;
  width: 195px;
  height: 50px;
}

.social__media {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  width: 340px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.social__media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;

  border: 1px solid #666666;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50%;
  &:hover {
    filter: invert(52%) sepia(30%) saturate(368%) hue-rotate(356deg) brightness(97%) contrast(92%);
  }

  background-position: center;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url(../assets/svg/icons/youtube.svg);
}

.instagram {
  background-image: url(../assets/svg/icons/instagram.svg);
}

.facebook {
  background-image: url(../assets/svg/icons/facebook.svg);
}

.twitter {
  background-image: url(../assets/svg/icons/twitter.svg);
}

.pinterest {
  background-image: url(../assets/svg/icons/pinterest.svg);
}

.footer__line {
  content: "";
  width: 100%;
  height: 3px;

  background: #666666;
  transform: rotate(-90deg);
}

.creates__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creates {
  margin: 50px 0;
  @extend %font-pri;
  @include font($style: normal, $weight: 200, $size: 2.2rem, $height: 2.2rem);
  letter-spacing: 2px;
  color: $color-first;
}

.creator {
  text-decoration: none;
}
