.footer {
  padding: 75px 0;
  background-color: $color-background;

}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
}

.footer__links {
  width: 363px;
  height: 128px;
  align-items: flex-start;
}

.footer__navigation{
  display: block;
}

.footer__navigation_title {
  margin: 0 0 15px;
}

.footer__navigation_links {
  padding: 0 0;
  list-style: none;
  @extend %font-add;
  @include font($style: normal, $weight: normal, $size: 1.6rem, $height: 3.5rem);
  a {
    color: $color-first;
    @extend %transition;
    text-decoration: none;
    &:hover {
      color: $color-second;
    }
  }
}

.footer__logo {
  margin-right: 152px;
}

.social__media {
  display: flex;
  width: 340px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.social__media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;

  border: 1px solid #666666;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50%;
  &:hover {
    filter: invert(52%) sepia(30%) saturate(368%) hue-rotate(356deg) brightness(97%) contrast(92%);
  }

  background-position: center;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url(../assets/svg/icons/youtube1.svg);
}

.instagram {
  background-image: url(../assets/svg/icons/instagram.svg);
}

.facebook {
  background-image: url(../assets/svg/icons/facebook.svg);
}

.twitter {
  background-image: url(../assets/svg/icons/twitter.svg);
}

.pinterest {
  background-image: url(../assets/svg/icons/pinterest.svg);
}
